<!DOCTYPE html>
<html>
  <head>
    <title>Inventory Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-primary d-flex justify-content-between">
      <h1 class="text-white"><%= @page_title %></h1>
      <div class='px-2'>
        <a href="/" class='text-white text-uppercase text-decoration-none m-2'>Inicio</a>
        <a href="/" class='text-white text-uppercase text-decoration-none m-2'>Inventario</a>
        <a href="categories" class='text-white text-uppercase text-decoration-none m-2 '>Categorias</a>
      </div>
    </nav>
 
    <main class='<%= controller.controller_name %>'>
      <%= yield %>
    </main>
  </body>
</html>
